body{
	font-family: Arial, sans-serif;
	margin:0;
	padding:0;
}
header{
	background-color:#B65026;
}
h1,p{
	color:white;
}
footer{
	background-color:#736762;
}
ul{
	background-color:#808E31;
	padding:20px;
}
li{
	list-style-type:none;
	display:inline-block;
	background-color:aqua;
	margin-left:100px;
}
section{
	background-color:pink;
	}
button{
background-color:#CC6CE7;
color:white;
margine:2px;
}

                      